__pycache__
ArithmeticExamApplication/results.txt
CalculatorForInvestors/**/investor.db
ConvoyShippingCompany/*.csv
ConvoyShippingCompany/*.s3db
MarkdownEditor/output.md
SimpleBankingSystem/card.s3db
ToDoList/todo.db
UniversityAdmissionProcedure/*.txt
