__pycache__
ArithmeticExamApplication/results.txt
CalculatorForInvestors/**/investor.db
ConvoyShippingCompany/*.csv
ConvoyShippingCompany/*.json
ConvoyShippingCompany/*.s3db
ConvoyShippingCompany/*.xml
MarkdownEditor/output.md
MemorizationTool/flashcard.db
SimpleBankingSystem/card.s3db
ToDoList/todo.db
UniversityAdmissionProcedure/*.txt
